& {
	max-width: 60em;
	width: 80vw;
	margin: 1rem auto;
}

.image-card {
	background: var(--clr-light-100);
	margin-bottom: 1rem;

	display: grid;
	border-radius: 0.75rem;
	overflow: hidden;
	grid-template-areas:
		"img img img"
		"title title date"
		"desc desc desc"
		"like like like";

	.image {
		grid-area: img;

		img {
			width: 100%;
		}

		&.thumbnail {
			position: relative;

			&::after {
				content: "";
				position: absolute;
				inset: 0;
				background-image: url("/src/assets/icons/play_btn.svg");
				background-repeat: no-repeat;
				background-position: center;
				background-size: 20%;
				transition: background-size 200ms ease-in-out;
			}

			&:hover::after {
				background-size: 23%;
			}
		}
	}

	.author {
		grid-area: img;
		background: rgba(255, 255, 255, 0.4);
		backdrop-filter: blur(4px);
		border-radius: 0.5rem 0.2rem;
		width: fit-content;
		height: fit-content;
		align-self: end;
		justify-self: end;
		margin: 0.5rem;
		padding: 0.25rem 0.5rem;
		color: var(--clr-text-200);
	}

	.title {
		grid-area: title;
		align-self: center;
		padding: 0.5rem 0 0.5rem 1.75rem;
		white-space: nowrap;
		overflow: hidden;
		text-overflow: ellipsis;
	}

	.date {
		grid-area: date;
		justify-self: end;
		align-self: center;
		padding: 0.5rem 1.75rem 0.5rem 0;
		font-family: var(--font-paragraph);
		font-weight: 300;
		font-size: var(--fs-100);
		color: var(--clr-text-100);
	}

	.description {
		grid-area: desc;
		padding: 0 1.75rem;
	}

	.like-button {
		grid-area: like;
		justify-self: end;
		margin: 0.5rem 1.75rem 1.75rem;

		background: none;
		border: none;

		cursor: pointer;

		&.liked svg path {
			fill: var(--clr-accent-red);
		}

		&:not(.liked) svg path {
			stroke: var(--clr-text-200);
		}
	}
}
