& {
	flex: 1;
	background-image: url("/src/assets/background.svg");
}

.back-to-top {
	position: fixed;
	bottom: 1rem;
	right: 1rem;
	padding: 0.5rem;
	border-radius: 1rem;

	background: none;
	border: none;
	cursor: pointer;

	animation: up 400ms ease-in;

	&:hover {
		background: rgba(255, 255, 255, 0.166);
	}
}
