// Base styles for commonly-used elements

h2 {
	font-family: var(--font-heading);
	font-size: var(--fs-200);
	font-weight: 600;
	text-transform: uppercase;
	// font-variant: small-caps;
}

p {
	font-family: var(--font-paragraph);
	font-weight: 300;
	font-size: var(--fs-100);
	color: var(--clr-text-100);
}

.none {
	display: none !important;
	height: 0 !important;
}
